<!DOCTYPE html>
<html ng-app="RbsChangeApp">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- headSeo -->
	{% for headline in pageResult.head %}
		{{ headline|raw }}
	{% endfor %}
	<link rel="icon" type="image/png" href="{{ resourceURL('Theme/Rbs/Demo/img/favicon.png') }}"/>
	<!-- cssHead -->
	<script type="text/javascript">
		window.__change = {};
	</script>
</head>

<body>

<!-- menu -->

<!-- carousel -->

<div class="section">

	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<!-- sectionContent -->
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<!-- sectionColoredContent -->
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="container">

	<hr>

	<footer>
		<div class="row">
			<div class="col-lg-12">
				<!-- footer -->
			</div>
		</div>
	</footer>

</div>
<!-- /.container -->

<!-- jsFooter -->
</body>
</html>
